.carte-img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: -100;
}

.carte-skip-btn a {
  position: fixed;
  top: 50px;
  right: 70px;
  background: black;
  color: white;
  padding: 5px 41px;
  z-index: 2;
  text-decoration: none;
  z-index: 1;
}

.carte-skip-btn {
  cursor: pointer;
}

.carte-skip-btn-decoration {
  display: flex;
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 2;
}

.carte-skip-btn-decoration img {
  padding-left: 105px;
  height: 75px;
}

.carte-cursor img {
  position: fixed;
  height: 175px;
  bottom: 40px;
  left: 0%;
  z-index: 2;
}

.carte-slider-line {
  position: absolute;
  background: black;
  height: 5px;
  width: 90%;
  position: fixed;
  bottom: 30px;
  left: 5%;
  right: 5%;
  z-index: 2;
}

.carte-slider-start {
  position: absolute;
  background: black;
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
  position: fixed;
  bottom: 25px;
  left: 4%;
  z-index: 2;
}

.carte-slider-end {
  position: absolute;
  background: black;
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
  position: fixed;
  bottom: 25px;
  right: 4%;
  z-index: 2;
}
