.carte-img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: -100;
}

.carte-skip-btn a {
  position: fixed;
  top: 50px;
  right: 70px;
  background: black;
  color: white;
  padding: 5px 41px;
  z-index: 2;
  text-decoration: none;
  z-index: 1;
}

.carte-skip-btn {
  cursor: pointer;
}

.carte-skip-btn-decoration {
  display: flex;
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 2;
  pointer-events: none;
}

.carte-skip-btn-decoration img {
  margin-left: 105px;
  height: 75px;
}

.carte-container-slider .carte-cursor {
  position: absolute;
  left: 0%;
  bottom: 50px;
  z-index: 2;
}

.carte-cursor img {
  // position: absolute;
  height: 175px;
  // left: 0%;
  // z-index: 2;
}

.carte-slider-line {
  position: absolute;
  background: black;
  height: 5px;
  width: 90%;
  position: fixed;
  bottom: 50px;
  left: 5%;
  right: 5%;
  z-index: 2;
}

.carte-slider-start {
  position: absolute;
  background: black;
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
  position: fixed;
  bottom: 45px;
  left: 4%;
  z-index: 2;
}

.carte-slider-end {
  position: absolute;
  background: black;
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
  position: fixed;
  bottom: 45px;
  right: 4%;
  z-index: 2;
}
